---
export interface Props {
	date: string;
}
const { date } = Astro.props;
const parsedDate = new Date(date);
const month = parsedDate.toLocaleString('default', { month: 'long' });
const year = parsedDate.getFullYear();
---

<div
	class={`divider-${month}-${year} flex month-divider mb-4 flex-row items-center`}
	data-time={`${month}-${year}`}
>
	<span
		class="mr-2 w-max whitespace-nowrap text-lightModeText dark:text-darkModeText"
	>
		{month}
		{year}
	</span>
	<div class="inline h-0.5 w-full bg-lightModeText dark:bg-darkModeText">
	</div>
</div>
