---
import Base from './Base.astro';
import { type PostFrontmatter } from '../content/config';

export interface Props {
    frontmatter: PostFrontmatter;
    slug: string;
    remarkFrontmatter: any;
}

const { frontmatter, slug, remarkFrontmatter } = Astro.props;
import '../global.css';
import '../global.callouts.css';
import PostInfo from '../components/PostInfo.astro';
---

<Base isPost={true} {slug} {frontmatter}>
    <div
        class="prose prose-lightMode mb-12 w-full min-w-full overflow-x-auto text-pretty text-left leading-loose tracking-wide text-lightModeText dark:prose-darkMode prose-headings:scroll-mt-8 prose-headings:font-medium prose-headings:text-accentColor prose-a:text-lightModeText prose-blockquote:text-lightModeText prose-figure:scroll-mt-8 prose-figcaption:text-xs prose-strong:text-violet-500 prose-code:whitespace-nowrap prose-code:rounded-sm prose-code:bg-lightCodeBg prose-code:px-1 prose-code:py-0.5 prose-code:before:content-none prose-code:after:content-none prose-ol:text-lightModeText prose-ul:font-light prose-ul:text-lightModeText prose-li:my-0 prose-li:text-left prose-table:text-lightModeText prose-tr:text-lightModeText prose-td:text-lightModeText prose-img:rounded-lg prose-img:border-4 prose-img:border-accentColor dark:text-darkModeText dark:prose-a:dark:text-darkModeText dark:prose-blockquote:text-darkModeText dark:prose-strong:text-violet-300 prose-code:dark:bg-darkCodeBg dark:prose-ol:text-darkModeText dark:prose-ul:text-darkModeText dark:prose-table:text-darkModeText dark:prose-tr:text-darkModeText dark:prose-td:text-darkModeText w500:text-sm w500:leading-[2.2] w500:prose-h1:text-xl w500:prose-h2:text-lg w500:prose-h3:text-base w500:prose-h4:text-sm w500:prose-h5:text-sm w500:prose-h6:text-sm w500:prose-code:whitespace-normal w400:text-xs w400:leading-[2.2]"
    >
        <PostInfo
            description={frontmatter.description}
            title={frontmatter.title}
            date={frontmatter.pubDate}
            tags={frontmatter.tags}
            readingTime={remarkFrontmatter.readingTime}
			{slug}
        />
        <slot />
    </div>
</Base>

<style is:inline>
    .prose > h2:first-of-type {
        margin-top: 1.5rem;
    }
    .ptmono
        font-family: 'PT Mono';
    }
</style>
